{% include 'partials/header_baseball.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>My Fav Players Dashboard</h1>
    </div><br>

    {% load crispy_forms_tags %}
    <!--form id="view_stats" action="" method="post" data-teams-url="{% url 'ajax_load_teams' %}" novalidate>
        {% csrf_token %}
        {{ form_view_stats.as_table }}
        <input type="submit" value="View Stats">
    </form>

    <div id="selected" class="d-flex justify-content-center">
        <h3>{{ heading }}</h3>
    </div><br>
    <div id="table_output" class="d-flex justify-content-center"></div>

    <script>
        (function () {
            window.results = JSON.parse('{{results|safe}}');
            window.columns = {{post_col|safe}};
            window.bat_col = JSON.parse('{{col_convert|safe}}');
        }());
    </script-->
    {% load static %}
    <!--script src="{% static 'scripts/baseball_view_stats.js' %}"></script-->
    <br>

    <!--script>
    // for the teams drop-down dependency
    $("#id_year").change(function () {
        var url = $("#view_stats").attr("data-teams-url");  // get the url of the `load_teams` view
        var yearId = $(this).val();  // get selected YEAR
        console.log(url);
        // initialize an AJAX request
        $.ajax({
            //async: true,
            url: url,  // set the url of the request (= localhost:8000/ajax/load-teams/)
            data: {
                'year': yearId  // add the year id to the GET parameters
            },
            success: function (data) {  // `data` is the return of the `load_teams` view function
                console.log(data);
                $("#id_team").html(data);  // replace with the values retrieved
            }
        });
    });
    </script-->

{% include 'partials/footer_baseball.html' %}
