{% include 'partials/header_baseball.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>My Fav Players Dashboard</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Here is a dashboard for some of my favourite players.</p>
        </div>
        <div class="col-md-2"></div>
    </div>

    {% load crispy_forms_tags %}
    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="fav_player_form">
                {% csrf_token %}
                {{ favForm.as_table }}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div>
        <div id="dashboard1" class="d-flex justify-content-center">

        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-4"></div>
            <div id="below-dash" class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div><br><br></div>
    <div id="dashboard2" class="d-flex justify-content-center"></div>

    {% load static %}
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <script src="{% static 'scripts/baseball/dashboard_favPlayer.js' %}"></script>
    <script src="{% static 'scripts/baseball/similarity_graphs.js' %}"></script>
    <script src="{% static 'scripts/baseball/circular_barplot.js' %}"></script>
    <br>

    <script>
    // players drop down menu
    $("#id_fav_players-name").change(function () {
        var url = '/api/fav_players';  // get the url of fav players API
        var playerID = $(this).val().split(';')[0]
        var stat_type = $(this).val().split(';')[1]
        var output;

        // initialize an AJAX request
        $.ajax({
            url: url,
            data: {
                'playerID': playerID,
                'stat_type': stat_type
            },
            success: function (data) {
                output = data;

                // change up the dashboard
                api_response(output);
            }
        });
    });

    // variables from django
    (function () {
        window.results = {{ results|safe }};
        window.mainStat = results.mainStat;
        window.aggStats = results.aggStats;
        window.circleBarData = results.circleBarData;
        window.simData = results.simData;
        window.simScores = results.simScores;
        window.playerNames = results.playerNames;
        window.retroIDs = Object.keys(simData);
    }());

    // set slider
    $(document).ready(function() {

        // create slider
        slider_create();

        // set slider
        var min_year = d3.min(circleBarData, d => d.year);
        $("#year-slider").slider({
            max: +d3.max(circleBarData, d => d.year),
            min: +min_year,
            step: 1,
            slide: function(event, ui){
                year_index = ui.value - min_year;
                updateYear(year_index, min_year);
            }
        })
    });

    // variables
    var lineChart0, lineChart1, lineChart2, lineChart3, lineChart4;
    var lineChart5, lineChart6, lineChart7, lineChart8, lineChart9;
    var minAge, maxAge, minFit, maxFit;
    var circleBarPlot;
    var yearSelected = 2001;

    // set stat boxes
    stats = statBoxData(aggStats, mainStat);
    changeStatBox1();
    changeStatBox2();
    changeStatBox3();

    // set circle bar plot
    circleBarData = dataKeyPair(circleBarData);

    // set similarity graphs and scores
    similarityDataChange(simData);
    sim_scores_update(simScores);

    // declare graphs
    lineChart0 = new LineChart('#simLine0', 150, 150, 0);
    lineChart1 = new LineChart('#simLine1', 150, 150, 1);
    lineChart2 = new LineChart('#simLine2', 150, 150, 2);
    lineChart3 = new LineChart('#simLine3', 150, 150, 3);
    lineChart4 = new LineChart('#simLine4', 150, 150, 4);
    lineChart5 = new LineChart('#simLine5', 150, 150, 5);
    lineChart6 = new LineChart('#simLine6', 150, 150, 6);
    lineChart7 = new LineChart('#simLine7', 150, 150, 7);
    lineChart8 = new LineChart('#simLine8', 150, 150, 8);
    lineChart9 = new LineChart('#simLine9', 150, 150, 9);
    circleBarPlot = new CircleBarPlot('#circleBar', 500, 500, 'suzui001');

    // handling the API response
    function api_response(data) {

        // get data
        results = data.results;

        // set variables
        mainStat = results.mainStat;
        aggStats = results.aggStats;
        stats = statBoxData(aggStats, mainStat);
        circleBarData = dataKeyPair(results.circleBarData);
        simData = results.simData;
        simScores = results.simScores;

        // change stat boxes
        changeStatBox1();
        changeStatBox2();
        changeStatBox3();

        // delete slider and create again
        var slider = document.getElementById("slider-div")
        slider.parentNode.removeChild(slider);
        slider_create();

        // set slider
        var min_year = d3.min(circleBarData, d => d.year);
        $("#year-slider").slider({
            max: +d3.max(circleBarData, d => d.year),
            min: +min_year,
            step: 1,
            slide: function(event, ui){
                year_index = ui.value - min_year;
                updateYear(year_index, min_year);
            }
        })

        // set Year label and yearSelected
        document.getElementById("year").textContent = min_year;
        yearSelected = min_year;

        // update simData, simScores details
        playerNames = results.playerNames;
        similarityDataChange(simData);
        sim_scores_update(simScores);

        // update simData description
        document.getElementById("trajectory-description").textContent = (mainStat == 'batting') ? 'based on OPS': 'based on WHIP';

        // adjust all the plots
        circleBarPlot.wrangleData();
        lineChart0.wrangleData();
        lineChart1.wrangleData();
        lineChart2.wrangleData();
        lineChart3.wrangleData();
        lineChart4.wrangleData();
        lineChart5.wrangleData();
        lineChart6.wrangleData();
        lineChart7.wrangleData();
        lineChart8.wrangleData();
        lineChart9.wrangleData();
    };
    </script>

{% include 'partials/footer_baseball.html' %}
