{% include 'partials/header_baseball.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>PROJECT: Baseball Stats</h1>
    </div><br>
    {% load markdown_extras %}
    <div id="my_descriptions" class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <!--div class="highlight" kinda works-->
            {{ readme | markdown | safe }}
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>

{% include 'partials/footer_baseball.html' %}
